
<!DOCTYPE html>
<html style="font-size: 16px;" lang="pt">
<head>
    <link rel="stylesheet" href="~/css/Modal.css" />
    <link rel="stylesheet" href="~/css/Home.css" />
    <link rel="stylesheet" href="~/css/nicepage.css" />
    <script class="u-script" type="text/javascript" src="~/js/Modal.js"></script>
    <script class="u-script" type="text/javascript" src="~/js/jquery.js"></script>
</head>
<body>
    <header class="u-clearfix u-header u-header" id="sec-816c" style="margin-left: 7%;">
        <div class="u-clearfix u-sheet u-sheet-1 header-menu">
            <a href="#" class="u-image u-logo u-image-1" data-image-width="360" data-image-height="200">
                <img src="~/images/-logo-breshop.png" class="u-logo-image u-logo-image-1">
            </a>
            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" id="itens-menu">
                <div class="">
                    @if (ViewData["RETORNO"] is true && ViewData["ISADMIN"] is true)
                    {
                    <ul class="lista-icones" id="itens-tela-inicial">
                        <li class="novo-produto u-nav-item">
                            <a asp-controller="CadastrarProdutos" asp-action="Index"><img src="~/images/Produto/Icone-novo-produto.png" style="width: 39%;" /></a>
                        </li>
                        <li class="novo-produto u-nav-item">
                            <a asp-controller="Relatorios" asp-action="Index"><img src="~/images/relatorio.png" style="width: 39%;" /></a>
                        </li>
                        @if (ViewData["QTD-CARRINHO"] != null)
                        {
                            <li class="carrinho u-nav-item">
                                <a asp-controller="CarrinhoProduto" asp-action="Checkout" asp-route-item="@ViewData["IDUSUARIO"]"><img class="carrinho-icone" /><span class="qtd-carrinho" value="0">@ViewData["QTD-CARRINHO"]</span>🛒</a>
                            </li>
                        }
                        else
                        {
                            <li class="carrinho u-nav-item">
                                <a asp-controller="CarrinhoProduto" asp-action="Checkout" asp-route-item="@ViewData["IDUSUARIO"]"><img class="carrinho-icone" /><span class="qtd-carrinho" value="0">@ViewData["QTD-CARRINHO"]</span>🛒</a>
                            </li>
                        }

                        <li class="carrinho u-nav-item">
                            <a asp-controller="Login" asp-action="Index">Sair</a>
                        </li>
                    </ul>
                    }
                    else
                    {
                <ul class="lista-icones" id="itens-tela-inicial">
                    @if (ViewData["QTD-CARRINHO"] != null)
                    {
                        <li class="carrinho u-nav-item">
                            <a asp-controller="CarrinhoProduto" asp-action="Checkout" asp-route-item="@ViewData["IDUSUARIO"]"><img class="carrinho-icone" /><span class="qtd-carrinho" value="0">@ViewData["QTD-CARRINHO"]</span>🛒</a>
                        </li>
                    }
                    else
                    {
                        <li class="carrinho u-nav-item">
                            <a asp-controller="CarrinhoProduto" asp-action="Checkout" asp-route-item="@ViewData["IDUSUARIO"]"><img class="carrinho-icone" /><span class="qtd-carrinho" value="0">@ViewData["QTD-CARRINHO"]</span>🛒</a>
                        </li>
                    }
                    <li class="carrinho u-nav-item">
                        <a asp-controller="Login" asp-action="Logout">Sair</a>
                    </li>
                </ul>
                    }
                </div>
                <div class="u-nav-container">
                    <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
                        <li class="u-nav-item">
                            <a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" asp-controller="Produto" asp-action="Ofertas" style="padding: 10px 20px;">Página Inicial</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" asp-controller="Produto" asp-action="Feminino" style="padding: 10px 20px;">Feminino</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" asp-controller="Produto" asp-action="Masculino" style="padding: 10px 20px;">Masculino</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" asp-controller="Produto" asp-action="Calcado" style="padding: 10px 20px;">Calçados</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" asp-controller="Produto" asp-action="Acessorio" style="padding: 10px 20px;">Acessórios</a>
                        </li>
                    </ul>
                </div>
                <div class="u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" asp-controller="Produto" asp-action="Ofertas" style="padding: 10px 20px;">Página Inicial</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" asp-controller="Produto" asp-action="Feminino" style="padding: 10px 20px;">Feminino</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" asp-controller="Produto" asp-action="Masculino" style="padding: 10px 20px;">Masculino</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" asp-controller="Produto" asp-action="Calcado" style="padding: 10px 20px;">Calçados</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" asp-controller="Produto" asp-action="Acessorio" style="padding: 10px 20px;">Relógios</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    <partial name="_CookieConsentPartial" />
    <div class="container body-content">
        @RenderBody()
        <hr class="divisao-layout" />
    </div>
    <footer class="footer">
        <p>rodapé</p>
    </footer>
    <!-- Modal -->
    <!--Modal: modalPush-->
    <div class="modal fade" id="modalPush" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Breshop</p>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <i class="fas fa-bell fa-4x animated rotateIn mb-4"></i>
                    <p class="Conteudo-modal"></p>
                </div>

                <!--Footer-->
                <div class="modal-footer flex-center">
                    <a type="button" class="btn btn-outline-info waves-effect" id="btn-modal" data-dismiss="modal" onclick="FecharModal()">Ok</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: modalPush-->
    <div class="carrinhoWindowArea">
        <div class="carrinhoWindowBody">
                <input type="hidden" id="idProduto-modal" value="" />
            <div class="carrinhoInfo--cancelMobileButton">Voltar</div>
            <div class="carrinhoBig">
                <img id="img-modal" src="" />
            </div>
            <div class="carrinhoInfo">
                <h1>Detalhes</h1>
                <div class="carrinhoInfo--desc"></div>
                <div class="carrinhoInfo--sizearea">
                    <div class="carrinhoInfo--sector">Tamanho</div>
                    <div class="carrinhoInfo--sizes">
                        <div data-key="P" id="size-p" onclick="selecionarP()" class="carrinhoInfo--size">P <span>--</span></div>
                        <div data-key="M" id="size-m" onclick="selecionarM()" class="carrinhoInfo--size">M <span>--</span></div>
                        <div data-key="G" id="size-g" onclick="selecionarG()" class="carrinhoInfo--size">G <span>--</span></div>
                    </div>
                </div>
                <div class="carrinhoInfo--pricearea">
                    <div class="carrinhoInfo--sector">Preço</div>
                    <div class="carrinhoInfo--price">
                        <div class="carrinhoInfo--actualPrice">R$</div>
                        <div class="carrinhoInfo--qtarea">
                            <button onclick="qtdMenos(1)" class="carrinhoInfo--qtmenos">-</button>
                            <div class="carrinhoInfo--qt">1</div>
                            <button onclick="qtdMais(1)" class="carrinhoInfo--qtmais">+</button>
                        </div>
                    </div>
                </div>
                <div onclick="AdicionarProdutoNoCarrinho()" class="carrinhoInfo--addButton">Adicionar ao carrinho</div>
                <div onclick="FecharModal()" class="carrinhoInfo--cancelButton">Cancelar</div>
            </div>
        </div>
    </div>

    <aside>
        <div class="cart--area">
            <div class="menu-closer">❌</div>
            <h1>Seus Pedidos</h1>
            <div class="cart"></div>
            <div class="cart--details">
                <div class="cart--totalitem subtotal">
                    <span>Subtotal</span>
                    <span>R$ --</span>
                </div>
                <div class="cart--totalitem desconto">
                    <span>Desconto</span>
                    <span>R$ --</span>
                </div>
                <div class="cart--totalitem total big">
                    <span>Total</span>
                    <span>R$ --</span>
                </div>
                <div class="cart--finalizar">Finalizar a compra</div>
            </div>
        </div>
    </aside>
</body>
</html>
