@model List<Breshop.Models.Produto>
<!DOCTYPE html>
<html style="font-size: 16px;" lang="pt">
<head>
    <meta charset="utf-8">
    <title>Criar Produto</title>
    <link rel="stylesheet" href="~/css/nicepage.css" />
    <link rel="stylesheet" href="~/css/CriarProduto.css" />
    <script class="u-script" type="text/javascript" src="~/js/jquery.js"></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js"></script>
    <script class="u-script" type="text/javascript" src="~/js/CadastrarProduto/Index.js"></script>
</head>
<body class="u-body u-xl-mode" data-lang="pt">
    <div class="u-clearfix u-sheet u-sheet-1">
        <input value="@ViewBag.Message" type="hidden" id="mensagem" />
        <h2>Todos os produtos</h2>
        <p>
            <a asp-action="Criar">Criar Novo</a>
        </p>
        <div class="u-container-style u-list-item u-repeater-item">
            <label class="control-label">Categoria: </label>
            <select onchange="FiltrarPorCategoria()" id="categoria-selecionada">
                @if (!string.IsNullOrWhiteSpace(ViewBag.CategoriaSelecionada))
                {
                    <option value="@ViewBag.CategoriaSelecionada" selected>@ViewBag.CategoriaSelecionada</option>
                }
                <option value="Calcado">Calçados</option>
                <option value="Feminino">Feminino</option>
                <option value="Ofertas">Ofertas</option>
                <option value="Masculino">Masculino</option>
                <option value="Infantil">Infantil</option>
                <option value="Relogios">Relógios</option>
            </select>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Categoria
                    </th>
                    <th>
                        Preço
                    </th>
                    <th>
                        Descrição
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        Tamanho
                    </th>
                </tr>
            </thead>
            <tbody id="produtos-listados">
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="Categoria">
                                @Html.DisplayFor(modelItem => item.Categoria)
                            </td>
                            <td class="Preco">
                                @Html.DisplayFor(modelItem => item.Preco)
                            </td>
                            <td class="Descricao">
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td class="Marca">
                                @Html.DisplayFor(modelItem => item.Marca)
                            </td>
                            <td class="Tamanho">
                                @Html.DisplayFor(modelItem => item.Tamanho)
                            </td>
                            <td>
                                <a asp-action="Editar" asp-route-id="@item.IdProduto">Edit</a> |
                                <a asp-action="Deletar" asp-route-id="@item.IdProduto">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
