@model List<Breshop.Models.Produto>
<!DOCTYPE html>
<html style="font-size: 16px;" lang="pt">
<head>
    <meta charset="utf-8">
    <title>Criar Produto</title>
    <link rel="stylesheet" href="~/css/nicepage.css" />
    <link rel="stylesheet" href="~/css/CriarProduto.css" />
    <script class="u-script" type="text/javascript" src="~/js/jquery.js"></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js"></script>
    <script class="u-script" type="text/javascript" src="~/js/CadastrarProduto/Index.js"></script>
</head>
<body class="u-body u-xl-mode" data-lang="pt">
    <div class="tabela-produtos">
        <input value="@ViewBag.Message" type="hidden" id="mensagem" />
        <h2>Todos os produtos</h2>
        <p>
            <a asp-action="Criar">Adicionar Produto</a>
        </p>
        <div class="todos-produtos">
            <label class="control-label" id="Categoria-label">Categoria: </label>
            <select onchange="FiltrarPorCategoria()" id="categoria-selecionada">
                @if (!string.IsNullOrWhiteSpace(ViewBag.CategoriaSelecionada))
                {
                    <option value="@ViewBag.CategoriaSelecionada" selected>@ViewBag.CategoriaSelecionada</option>
                }
                <option value="">Todos</option>
                <option value="Calcado">Calçados</option>
                <option value="Feminino">Feminino</option>
                <option value="Ofertas">Ofertas</option>
                <option value="Masculino">Masculino</option>
                <option value="Acessorio">Acessorios</option>
            </select>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="titulo-produtos">
                        Categoria
                    </th>
                    <th class="titulo-produtos">
                        Preço
                    </th>
                    <th class="titulo-produtos">
                        Descrição
                    </th>
                    <th class="titulo-produtos">
                        Marca
                    </th>
                    <th class="titulo-produtos">
                        Tamanho
                    </th>
                    <th class="titulo-produtos">
                        Em estoque
                    </th>
                    <th class="titulo-produtos">
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody id="produtos-listados">
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                <tr>
                    <td class="Categoria">
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td class="Preco">
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td class="Descricao">
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td class="Marca">
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td class="Tamanho">
                        @Html.DisplayFor(modelItem => item.Tamanho)
                    </td>
                    <td class="EstoqueDisponivel">
                        @Html.DisplayFor(modelItem => item.ProdutoVendido)
                    </td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@item.IdProduto" asp-route-Categoria="@ViewBag.CategoriaSelecionada">Editar</a> |
                        <a asp-action="Deletar" asp-route-id="@item.IdProduto" asp-route-Categoria="@ViewBag.CategoriaSelecionada">Deletar</a>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
